
<h1 class="text-center mt-4">Edit your profile</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render "shared/errors", obj: @user %>
      <%= form_with(model: @user, url: update_password_path(@user), class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
     
     <div class="form-group row">
          <%= f.label :current_password, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.password_field :current_password, class: "form-control shadow rounded", placeholder: "Enter your current password", :required => true %>
          </div>
        </div>
           <div class="form-group row">
          <%= f.label :new_password, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.password_field :new_password, class: "form-control shadow rounded", placeholder: "Enter new password", :required => true %>
          </div>
        </div>  
                <div class="form-group row">
          <%= f.label :new_password, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.password_field :new_password_confirmation, class: "form-control shadow rounded", placeholder: "Enter new password", :required => true %>
          </div>
          
        </div>    
        <div class="form-group row justify-content-center">
    <%= f.submit "Update", class: "btn btn-outline-light btn-lg" %>
        </div>    <% end %>
    </div>
    <div class="mb-3">
      <%= link_to "[ Cancel and return to posts index ]", posts_path, class: "text-info" %>
    </div>

  </div>
</div>

