<%- include('./partials/header')%>

    <div class="card-deck">
      <% for (let cohort of cohorts) { %>
      <form action="/<%= cohort.id %>" method="POST">
       <main class="container justify-content-center">
  <div class="row justify-content-center"> <div class="card text-center mb-4" style="width: 38rem">
          <div class="card-body">
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img
                  class="card-img-top"
                  src="<%= cohort.logo_url %>"
                  alt="cohort logo"
                />
              </div>
            </div>
            <h5 class="card-title"><%= cohort.name %></h5>

            <p class="card-text"><%=cohort.members%></p>
            <a value="View" class="btn btn-primary" href="/view/<%=cohort.id%>"
              >Show Cohort</a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
<% } %> <%- include('./partials/footer')%>
