<%- include('./partials/header')%>

<main class="container justify-content-center"><h1>View Cohort</h1>

<div class='card-deck'>
    <div class='card text-center mb-4' style="width: 55rem;">
      <div class='card-body'>
          <div class = "col-sm-6 col-md-3">
             <div class = "thumbnail">
                <img  class="card-img-top" src="<%= cohort.logo_url %>" alt="cohort logo">
             </div>
        </div>
        <h5 class='card-title'><%= cohort.name %></h5>
        <h6 class="card-text"><%= cohort.members%></h6>

      <form action='/<%= cohort.id %>' method='POST'>
      <input type='hidden' name='_method' value='DELETE'>
      <input
        type='submit'
        class='btn btn-outline-danger btn-lg btn-block'
        value='Delete'
      >
    </form>
    <a class='btn btn-outline-success btn-lg ' href='/edit/<%=cohort.id%>'>Edit</a>
    
</div>           
<form action='' method='GET'>

  <input class='hidden' type='text' class='form-control' name='members'
  value='<%= cohort.members%>'>

<div name='members' id='members' class='hidden'><%= cohort.members%></div>
  <div class="form-group">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
 <label class="btn active">
            <input type="radio" name="method" id="team_count" value='team_count'  autocomplete="off" <% if (!method||method==='team_count'){%>checked<%}%>> Team count
          </label>
          <label class="btn">
            <input type="radio" name="method" id="per_team" value='per_team' <% if (!method||method==='per_team'){%>checked<%}%>autocomplete="off"> Number per team
          </label>
        </div>
  

     
<div class='card mb-4' style="width: 55rem;">
  <div class='card-body'>
     <div class="form-group">
          <label for='quantity'>Quantity</label>
          <input type="text" name="quantity" id='quantity' <% if (number){%>value='<%=locals.number%>'<%}%>class="form-control">
        </div>
      <input
    type='submit'
    class='btn btn-outline-primary btn-lg btn-block'
    value='Assign Teams'
  >        

  </form>



<div class="resultpage"><br>
  <div class="groups">
    <% if (number){%><%for(let i = 0; i < teams.length; i++ ) { %>
      <% let name1 = teams[i] %>
      <hr>
        <span class='number ml-3 mr-3 font-weight-bold'>Team <%= i + 1 %>:<% for(let name of name1) {%><%= ` ${name}  ` %><% } %></span><% } %><%}%>
  </div>
</div>



</main>
<%- include('./partials/footer')%>
