<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
            <div class="card text-center shadow mb-5 bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= @post.title %>
                    </h5>
                    <p class="card-text">
                        <%= @post.body %>
                    </p>  
                        <%= link_to "Delete", post_path(@post), class: "btn btn-outline-danger", method: :delete, data: { confirm: "Are you sure?" } %>
                        <%= link_to "Edit", edit_post_path(@post), class: "btn btn-outline-info" %>
                    <div class="card-footer mt-2 text-muted">
                        <small>Posted <%= time_ago_in_words(@post.created_at) %> ago</small>
                    </div>
                </div>
                <div class="card text-center shadow mt-4 mb-5 bg-white rounded">
                    <div class="card-header">
                        Add a Comment
                    </div>
                        <%= form_with model: [@post, @comment], class: "shadow p-3 mb-3 bg-info rounded", local: true do |f| %>
                        <%= render "shared/errors", obj: @comment %>
                    <div class='shadow-sm p-3 mb-5 bg-white round'>
                        Your Comment <%= f.text_area :body,
                                                     cols: 50,
                                                     rows: 5,
                                                     placeholder: "What do you think?" %>
                    </div>
                       <%= f.submit class: "btn btn-primary" %>
                        <% end %>
                    <h3>Comments</h3>
                        <% @comments.each do |comment| %>
                <div class="card text-center shadow mt-4 mb-5 bg-white rounded">
                    <div class='shadow-sm p-3 mb-1 bg-white rounded'>
                        <%= comment.body %>
                    </div>
                    <div class="card-footer mt-2 text-muted">
                        <small>Commented <%= time_ago_in_words(comment.created_at) %> ago</small>
                    </div>
                        <%= link_to "Delete", comment_path(@post, comment), method: :delete, data: { confirm: "Are you sure?" } %>
                </div>
             <% end %>        
            </div>
        </div>
    </div>
</div>