<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
            <div class="card text-center shadow mb-7 bg-white rounded">
                <div class="card-header">
                    Posted by: <%= @post.user&.normal_name || "Deleted" %>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <%= @post.title %>
                    </h5>
                    <p class="card-text">
                        <%= @post.body %>
                    </p> 
                        <% if can? :crud, @post %>
                        <%= link_to "Delete", post_path(@post), class: "btn btn-outline-danger", method: :delete, data: { confirm: "Are you sure?" } %>
                        <%= link_to "Edit", edit_post_path(@post), class: "btn btn-outline-info" %>
                        <% end %>
                    <div class="card-footer mt-2 text-muted">
                        <small>Posted <%= time_ago_in_words(@post.created_at) %> ago</small>
                    </div>
                </div>
            </div>    
                <div class="card text-center shadow mt-4 mb-5 bg-white rounded">
                    <div class="card-header">
                        Add a Comment
                    </div>
                        <%= form_with model: [@post, @comment], class: "shadow p-3 mb-3 bg-info rounded", local: true do |f| %>
                        <%= render "shared/errors", obj: @comment %>
                    <div class='shadow-sm p-3 mb-5 round'>
                        <%= f.text_area :body,
                                        cols: 50,
                                        rows: 5,
                                        placeholder: "What do you think?" %>
                    </div>
                       <%= f.submit class: "btn btn-primary" %>
                        <% end %>
                </div>        
                    <h3 class= "text-center">Comments</h3>
                        <% @comments.each do |comment| %>
            <div class="card text-center shadow mt-4 mb-5 bg-white rounded">
                    <h5 class="card-title">Commented <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.normal_name %></h5>
                    <p class="card-text"><%= comment.body %></p>
                        <% if can? :crud, comment %>
                        <%= link_to "Delete", comment_path(@post, comment), method: :delete, data: { confirm: "Are you sure?" } %>
                        <% end %>                
            </div>
                <% end %>        
        </div>
    </div>
</div>